/*元素*/
/*照片跟比例外框*/
.eleImgBk
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 56%
    overflow: hidden
    // background: $em-color
    .eleImgBk-img
        position: absolute
        width: 100%
        height: 100%
        border: none
        line-height: 0

/*影片比例高度*/
.eleVideoBk
    width: 100%
    height: 100%
    position: relative
    /*padding top跟 bottom 的高度都是依據width來計算比例*/
    padding-bottom: 56%
    overflow: hidden
    @include maxcom
        padding-bottom: 45%
    @include maxcom-1920
        padding-bottom: 99vh
        // padding-bottom: 38%
    iframe
        position: absolute
        width: 100%
        height: 100%

