/*page*/
/*線上展覽*/
.pagExPagetitBk
    display: block
    width: 100%
    text-align: center
    padding: 70px 0 20px 0
    @include ipad
        padding: 110px 0 30px 0 
    @include maxcom
        padding: 150px 0 50px 0
    
.pagExPagetit
    font:
        size: $text-28
    color: #fff
    // padding: 20px
    @include ipad
        font:
            size: $text-34
    @include maxcom
        font:
            size: $text-40

.pagExLinkBk
    width: 100%
    height: auto
    overflow: hidden
    opacity: 0
.pagExLinkBk-01
    background: rgba(189,236,255,1)
    transform: translateX(-100px)
.pagExLinkBk-02
    background: rgba(221,233,127,1)
    transform: translateX(100px)
.pagExLinkBk-03
    background: rgba(255,213,159,1)
    transform: translateX(-100px)
.pagExLinkBk-04
    background: rgba(249,230,130,1)
    transform: translateX(100px)
.pagExLinkBk-05
    background: rgba(181,214,255,1)
    transform: translateX(-100px)
.pagExLinkBk-06
    background: rgba(244,194,202,1)
    transform: translateX(100px)


.pagExLink
    // flex-wrap: wrap-reverse
    display: block
    line-height: 0
    padding: 0
    margin: 0
    font:
        size: 0
    @include maxcom
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: nowrap
        &:hover
            transform: translateX(-15px)

.pagExLink-img
    display: none
    @include maxcom
        display: block
        width: 835px
        height: auto
.pagExLink-img--sml
    width: 100%
    height: auto
    @include maxcom
        display: none

.pagExLink-LinktitBk
    width: auto
    padding: 20px
    @include ipad
        padding: 0px 80px 0 80px
        position: relative
        top: 80px
    @include maxcom
        top: 0px
        padding: 20px

.pagExLink-Link
    font:
        size: $text-24
    @include ipad
        font:
            size: $text-30
    @include maxcom
        font:
            size: $text-36


//element
//底圖
.pagExBottomEleBk
    width: 100%
    min-height: 380px
    background: url("../images/pagele-01.png") no-repeat
    background-position-x: center 
    background-position-y: bottom 
    background-size: auto 260px
    position: relative
    overflow: hidden
    margin-top: -10px
    @include ipad
        min-height: 480px
        background-size: auto 300px
        background-position-x: left 
    @include maxcom
        min-height: 420px
        background-size: auto 280px

.pagExBottomEleBk--bgGreen
    background: rgba(209,229,210,1)

.pagExBottomEle01
    position: absolute
    width: 250px
    height: auto
    bottom: -80px
    left: 120px
    display: none
    @include maxcom
        display: block
.pagExBottomEle02
    position: absolute
    width: 120px
    height: auto
    bottom: 80px
    left: 33%
    display: none
    @include ipad
        width: 80px
        height: auto
        bottom: 160px
        left: 60px
        display: block
    @include maxcom
        bottom: 70px
        left: 550px
.pagExBottomEle03
    position: absolute
    width: 45px
    left: 60px
    top: 150px
    @include ipad
        width: 65px
        left: 270px
        top: 350px
    @include maxcom
        width: 75px
        height: auto
        // bottom: 150px
        left: 62%
        top: 200px
        // top: 40px
    @include maxcom-1920
.pagExBottomEle04
    position: absolute
    height: auto
    width: 90px
    bottom: 10px
    right: 10%
    @include maxcom
        width: 140px
        bottom: 30px
        right: 19%
.pagExBottomEle05
    position: absolute
    width: 210px
    height: auto
    top: 10px
    left: calc(50% - 105px)
    display: block
    &:hover
        transform: translateY(-10px)
    @include ipad
        width: 435px
        left: calc(50% - 215px)
    @include maxcom
        width: 320px
        height: auto
        top: 30px
        left: calc(50% - 170px)


//exhibitsin01.php
.pagExin01
    p
        font-size: $text-15
        line-height: 1.7
        @include ipad
            font-size: $text-17
    .em
        font-size: $text-18
        font-weight: 400
        line-height: 1.7
        @include ipad
            font-size: $text-20
        @include maxcom
            // font-size: $text-26
.pagExin01-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: #CCE9FA url(../images/pagEx01-01.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    // overflow: hidden
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin01-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin01-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 200px 0 0 80px
        h1
            font:
                size: $text-50
.pagExin01-section01Bk
    background: #FFF
    padding: 40px 20px 
    line-height: 1
    overflow: hidden
    @include ipad
        padding: 60px 40px 
    @include maxcom
        padding: 60px 0 60px 0
    @include maxcom-1920
        padding: 80px 0 60px 0
.pagExin01-sectionTit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-35
        letter-spacing: -2px
.pagExin-enBr
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
.pagExin01-imgBk01
    width: 280px
    margin: 70px auto
    @include ipad
        width: 590px 
    @include maxcom
        width: 100%
        display: flex
        justify-content: center
        flex-wrap: wrap
        div
            width: 590px
            padding: 0 25px
.pagExin01-imgBk02
    width: 255px
    margin: 70px auto 10px auto
    position: relative
    // overflow: hidden
    .bg
        display: none
    div
        position: relative
        z-index: 2
    @include ipad
        width: 445px 
        .bg
            display: block
            width: 215px
            height: 215px
            position: absolute
            z-index: 1
            top: 300px
            right: -100px
    @include maxcom
        width: auto
        display: flex
        justify-content: center
        align-items: flex-start
        flex-wrap: wrap
        margin: 0px
        padding: 70px 0
        // overflow: hidden
        div
            width: 33%
            padding: 0 5px
            position: relative
            z-index: 2
        .bg
            display: none
    @include maxcom-1920
        .bg
            display: block
            width: 310px
            height: 310px
            top: -600px
            right: -200px
.pagExin01-imgBk03
    width: 300px
    margin: 0px auto
    position: relative
    z-index: 3
    .bg
        display: none
    .sml
        text-align: center
        img
            width: 180px
    @include ipad
        width: 100% 
        display: flex
        flex-wrap: wrap
        justify-content: center
        .bg
            display: block
            width: 270px
            height: 270px
            position: absolute
            z-index: -1
            top: 140px
            right: -10px
        .sml
            width: 35%
            img
                width: 100%
        div
            width: 65%
            padding-left: 15px
        p
            width: 520px
    @include maxcom
        p
            width: 780px
.pagExin01-imgBk04
    width: 300px
    margin: 0px auto
    position: relative
    z-index: 2
    .bg
        display: none
    .bg02
        display: none
    .sml
        text-align: center
        img
            width: 250px
    p,div,.sml
        position: relative
        z-index: 2
    @include ipad
        width: 100% 
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        margin: 40px 0
        .bg02
            display: block
            position: absolute
            z-index: 1
            width: 300px
            height: 300px
            top: 200px
            right: -100px
        .sml
            width: 43%
            img
                width: 100%
        img
            width: 57%
            padding-right: 10px
        p
            width: 520px
    @include maxcom
        .bg
            display: block
            position: absolute
            z-index: 1
            width: 320px
            height: 320px
            top: 180px
            right: -20px
        .bg02
            width: 380px
            height: 380px
            top: 980px
            right: -200px
        p
            width: 780px
    @include maxcom-1920
        .bg
            width: 370px
            height: 370px
            top: -330px
            right: -220px
        .bg02
            width: 470px
            height: 470px
            top: 560px
            right: -360px
.pagExin01-imgBk05
    position: relative
    z-index: 3
.pagExin01-imgBk06
    width: 100%
    margin: 70px auto
    position: relative
    // z-index: 2
    .chartTit
        position: relative
        z-index: 2
        font:
            size: $text-16
            weight: 600
        letter-spacing: -0.5px
        margin-bottom: 3px
        @include ipad
            font:
                size: $text-20
                weight: 600
            width: 450px
            margin-left: calc(50% - 225px)
        @include maxcom
            margin-left: 50px
        .color
            width: 20px
            height: 20px
            border: 1px solid $black
            display: inline-block
            margin-right: 5px
            vertical-align: -4px
        .color--yellow
            background: #F3DA24
        .color--blue
            background: #27A5DA
    .img01
        width: 200px
        margin: 30px auto
        position: relative
        z-index: 2
        @include ipad
            width: 370px
        @include maxcom
            display: none
    .img02
        width: 1050px
        margin: 40px auto 50px auto
        position: relative
        z-index: 2
        display: none
        @include ipad
        @include maxcom
            display: block
    .bg
        width: 130px
        height: 130px
        position: absolute
        z-index: 1
        top: 300px
        left: -60px
    @include ipad
        .bg
            width: 250px
            height: 250px
            position: absolute
            z-index: 1
            top: 300px
            left: -100px
    @include maxcom
    @include maxcom-1920
        .bg
            width: 250px
            height: 250px
            position: absolute
            z-index: 1
            top: 200px
            left: -160px
.pagExin01-imgBk07
    width: 100%
    margin: 0px auto
    padding: 40px 20px
    position: relative
    background: #CCE9F9
    .img01
        display: block
        width: 100%
        padding: 40px 0
    .img02
        display: none
    @include ipad
        padding: 60px 40px
        .img01
            // width: 100%
            padding: 60px 0
    @include maxcom
        padding: 60px 20px
        .img01
            display: none
        .img02
            display: block
            width: 1000px
            margin: 0 auto
            padding: 70px 0
.pagExBottomEleBk--bgBlue
    background: #CCE9F9





//exhibitsin02.php
.pagExin02-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: rgba(170,206,86,1) url(../images/pagEx02-01-sml.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    // overflow: hidden
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin02-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin02-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 200px 0 0 80px
        h1
            font:
                size: $text-50

.pagExin02-section01Bk
    background: #FFF
    padding: 20px 
    line-height: 1
    @include ipad
        padding: 60px 40px 
    @include maxcom
        padding: 40px 0 40px 0

.pagExin02-section01
    @include maxcom
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: nowrap
.pagExin02-section01--img
    width: 100%
    margin: 20px 0 0 0
    @include maxcom
        width: 460px
        height: auto
        margin: 20px 0 0 100px
.pagExin02-section01--textArea
    width: auto
.pagExin02-section01--textArea--tit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-36

.pagExin02-section02Bk
    background: rgba(209,229,210,1)
    // text-align: center
    @include maxcom
        padding-bottom: 60px
.pagExin02-section02--img
    width: 100%
    margin: 0 auto 60px auto
    // text-align: center
    // margin-bottom: 60px
    @include maxcom
        // width: 1400px
.pagExin02-section02Bk--textArea
    width: 100%
    height: auto
    overflow: hidden
    position: relative
    // @include maxcom
    //     display: flex
    //     justify-content: center
    //     align-items: flex-start
    //     flex-wrap: nowrap
    //     text-align: left
    .owl-custom01
        position: relative
    .owl-nav
        position: absolute
        z-index: 1
        width: 100%
        top: 45%
        display: block
    .owl-prev
        position: absolute
        left: 10px
        width: 26px
        height: 65px
        content: " "
        background: url("../images/arrow-left--white.svg") no-repeat !important
        transition: all 0.3s ease-in
        &:hover
        span
            display: none
    .owl-next
        position: absolute
        right: 10px
        width: 26px
        height: 65px
        content: " "
        background: url("../images/arrow-right--white.svg") no-repeat !important
        transition: all 0.3s ease-in
        @include maxcom
            right: 180px
        &:hover
        span
            display: none
.pagExin02-section02Bk--textArea--line
    width: 100%
    @include maxcom
        width: 560px
        margin: 0 80px
.pagExin02-section02Bk--textArea--section
    margin: 0 0 35px 0
    padding: 0 50px
    text-align: center
    @include ipad
        width: 620px
        margin: 0 auto 50px auto
    @include maxcom
        width: auto
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
        margin-bottom: 22px
    img
        width: 55px !important
        margin: 0 auto 14px auto
        @include maxcom
            margin: 0 20px 0 0
    p
        text-align: center
        @include maxcom
            text-align: left


.pagExin02-sectionWhiteBk
    background: #FFF
    padding: 20px 0 40px 0
    @include ipad
        padding: 60px 20px
    @include maxcom
        padding: 60px 0 40px 0
    // line-height: 1

.pagExin02-sectionGreenBk
    background: rgba(209,229,210,1)
    padding: 40px 0 0px 0
    // line-height: 1
    @include ipad
        padding: 60px 0px

.pagExin02-section03
    padding: 20px 20px 40px 20px
    // text-align-last: left
    position: relative
    @include maxcom
        // text-align-last: left
        // text-align-last: center
        // text-align: center
    h3
        font:
            size: $text-24
        span
            display: block
            letter-spacing: 0px
            @include maxcom
                display: inline
        @include maxcom
            font:
                size: $text-36
    img.bgele
        position: absolute
        width: 145px
        right: -40px
        bottom: 60px
        margin: 0
        @include maxcom
            width: 310px
            right: -100px
            bottom: -80px

.pagExin02-section04
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: center
    margin-bottom: 60px
    position: relative
    @include maxcom
        margin-bottom: 120px
        flex-wrap: nowrap
        align-items: flex-start
        justify-content: center
    img
        margin: 20px 

    

.pagExin02-section05
    position: relative
    @include maxcom
        margin-bottom: 60px
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
        justify-content: center
    img.bgele01
        position: absolute
        top: 80px
        right: -140px
        z-index: 1
        @include maxcom
            top: 30px
            right: 160px
    img.bgele02
        position: absolute
        bottom: 120px
        left: -160px
        z-index: 1
        @include maxcom
            top: 90px
            left: 240px
.pagExin02-section05--textArea
    padding: 0 35px
    position: relative
    z-index: 2
    // width: 300px
    width: 100%
    margin-bottom: 30px
    &:nth-of-type(2n-1)
        margin-top: 70px

        
.pagExin02-section06
    margin-bottom: 60px
    border-bottom: 2px solid rgba(209,229,210,1)
    text-align-last: left
    @include maxcom
        text-align-last: center
    h3
        font:
            size: $text-24
        span
            display: block
            letter-spacing: 0px
            @include maxcom
                display: inline
        @include maxcom
            font:
                size: $text-36
.pagExin02-section06--imgArea
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    @include maxcom
        flex-wrap: nowrap
        align-items: flex-end
        justify-content: space-around
        margin-bottom: 55px
    img
        margin: 0px 25px 30px 25px
        max-width: 80%
        @include maxcom
            max-width: 22%
.pagExin02-section07
    text-align-last: left
    @include maxcom
        text-align-last: center
    h3
        font:
            size: $text-24
        span
            display: block
            letter-spacing: 0px
            @include maxcom
                display: inline
    @include maxcom
        h3
            font:
                size: $text-36
.pagExin02-section07--imgArea
    // display: flex
    // flex-wrap: nowrap
    // align-items: flex-start
    // justify-content: center
    // margin-bottom: 70px
    display: block
    @include maxcom
        display: none !important
    .arnorImg
        margin: 0 auto
        width: 220px !important
    .owl-nav
        position: absolute
        z-index: 1
        width: 100%
        top: 35%
        display: block
        @include ipad
        @include maxcom
        .owl-prev
            position: absolute
            left: 0px
            width: 26px
            height: 65px
            // margin: 0 40px 0 auto
            content: " "
            background: url("../images/arrow-left.svg") no-repeat !important
            transition: all 0.3s ease-in
            @include maxcom
                left: -60px
            &:hover
                // transform: translateX(-15px)
            span
                display: none
        .owl-next
            position: absolute
            right: 0px
            width: 26px
            height: 65px
            // margin: 0 auto 0 auto
            content: " "
            background: url("../images/arrow-right.svg") no-repeat !important
            transition: all 0.3s ease-in
            @include maxcom
                right: 180px
            &:hover
                // transform: translateX(15px)
            span
                display: none
.pagExin02-section07--imgArea--big
    display: none
    position: relative
    @include maxcom
        display: flex
        flex-wrap: nowrap
        align-items: flex-start
        justify-content: center
        margin-bottom: 70px
    img
        width: 14%
        position: relative
        z-index: 2
    .imgbg
        position: absolute
        z-index: 1
        bottom: -100px
        right: -150px
.pagExin02-section08
    margin: 40px 0 50px 0
.pagExin02-section08--textArea
    flex-wrap: wrap
    text-align: center
    margin-bottom: 35px
    @include ipad
        text-align: left
    @include maxcom
        display: flex
        flex-wrap: nowrap
        align-items: center
        justify-content: center
        text-align: left
.pagExin02-section08--textArea--img
    width: 280px
    height: auto
    margin: 0 auto
    margin-bottom: 15px
    @include ipad
        width: 400px
    @include maxcom
        width: 425px
        margin-right: 35px
.pagExin02-section08--textArea--logoImg
    width: 240px
    @include ipad
        width: 380px
.pagExin02-section08--textArea--logoImg--square
    width: 90px
    @include ipad
        width: 170px
.pagExin02-section08--textArea--text
    display: block
    text-align: left


.pagExin02-section09
    padding-bottom: 40px
    // text-align-last: left
    @include maxcom
        padding-top: 40px
        padding-bottom: 80px
        // text-align-last: center
    h3
        font:
            size: $text-24
        span
            display: block
            letter-spacing: 0px
            @include maxcom
                display: inline
    @include maxcom
        h3
            font:
                size: $text-36
.pagExin02-section10
    padding-bottom: 80px
    text-align: left
    h3
        font:
            size: $text-24
        span
            display: block
            letter-spacing: 0px
            @include maxcom
                display: inline
    @include maxcom
        text-align: center
        h3
            font:
                size: $text-36
.pagExin02-section10--textArea
    @include maxcom
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: -25px
        text-align: left
.pagExin02-section10--textArea--right
    @include maxcom
        flex-direction: row-reverse
.pagExin02-section10--textArea--img
    width: 270px
    position: relative
    z-index: 2
    margin-left: calc(50% - 135px) 
    margin-right: calc(50% - 135px) 
    @include maxcom
        width: 380px
        margin: 0 0 0 0

.pagExin02-section10--textArea--textBk
    height: 320px
    position: relative
    z-index: 1
    background: #FFF
    padding: 100px 20px 0 20px
    bottom: 80px
    @include maxcom
        padding: 60px
        margin-left: -10px
        bottom: 0px
.pagExin02-section10--textArea--textBk.textBkLeft
    @include maxcom
        margin-right: -10px

.pagExin02-section10--textArea--year
    position: absolute
    right: 70px
    bottom: -40px
    font:
        size: 5rem
        weight: 700
    color: rgba(209,229,210,1)
    @include maxcom
        right: 70px
        bottom: -70px
        font:
            size: 10.5rem
            weight: 700
.pagExin02-section10--textArea--year.yearleft
    left: 70px
    bottom: -40px
    @include maxcom
        bottom: -70px


//編錯4編成3
//趨向多元服務
//exhibitsin03.php
.pagExin03--bg
    width: 100%
    min-height: 8000px  
    overflow-x: hidden
    position: absolute
.pagExin03--bg01
    position: absolute
    width: 145px
    top: 3100px
    right: -40px
    @include ipad
        width: 215px
        top: 5150px
        right: 60px
    @include maxcom
        width: 260px
        top: 3250px
        right: 20px
    @include maxcom-1920
        width: 310px
        top: 2720px
        right: 160px
.pagExin03--bg02
    display: none
    @include ipad
        position: absolute
        display: block
        width: 270px
        top: 6200px
        right: 30px
    @include maxcom
        width: 320px
        top: 4900px
        right: 20px
    @include maxcom-1920
        width: 390px
        top: 4400px
        right: 200px
.pagExin03--bg03
    position: absolute
    width: 160px
    top: 5200px
    right: -70px
    @include ipad
        display: block
        width: 330px
        top: 6800px
        right: -100px
    @include maxcom
        width: 330px
        top: 5400px
        right: -100px
    @include maxcom-1920
        width: 390px
        top: 5250px
        right: 90px
.pagExin03--bg04
    position: absolute
    width: 130px
    top: 6200px
    left: -40px
    @include ipad
        display: none
    @include maxcom
        display: block
        width: 260px
        top: 6200px
        left: -100px
    @include maxcom-1920
        width: 310px
        top: 6100px
        left: -60px
.pagExin03
    p
        font-size: $text-15
        line-height: 1.7
    @include ipad
        p
            font-size: $text-17
    .em
        font-size: $text-16
        font-weight: 600
        line-height: 1.7
        @include maxcom
            font-size: $text-26
.pagExin03-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: #CCE9FA url(../images/pagEx03-01.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin03-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin03-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
        span
            letter-spacing: -1px
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
            letter-spacing: -1px
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 160px 0 0 80px
        h1
            font:
                size: $text-50
.pagExin03-sectionTit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-35
        letter-spacing: -2px
.pagExin03-enBr
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
.pagExin03-contentBk
    background: #FFF
    padding: 0px 20px 
    line-height: 1
    overflow: hidden
    @include ipad
        padding: 20px 40px 
    @include maxcom
        padding: 20px 0 60px 0
    @include maxcom-1920
        padding: 20px 0 60px 0
.pagExin03-sectionBk
    position: relative
    z-index: 2
.pagExin03-sectionBk--01
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 70px auto
.pagExin03-sectionBk--02
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
        width: 700px
    @include maxcom
        width: 1190px
        margin: 40px auto 70px auto
    @include maxcom-1920
        width: 1280px
    .imgBk-0102
        @include ipad
            position: relative
            min-height: 500px
        @include maxcom
            min-height: 650px
    .img01
        width: 320px
        margin: 0 auto 40px
        @include ipad
            position: absolute
            z-index: 1
            width: 540px
            left: 0px
        @include maxcom
            width: 910px
        @include maxcom-1920
            width: 990px
        p
            width: 300px
            margin: 0 10px
            @include ipad
                width: 340px
                margin: 0 100px
            @include maxcom
                margin: -40px 0 0 300px
    .img02  
        width: 280px
        margin: 0 auto 40px
        text-align: center
        @include ipad
            position: absolute
            z-index: 2
            width: 230px
            right: 0px
            top: 170px
        @include maxcom
            width: 390px
            top: 260px
        @include maxcom-1920
            width: 420px
        img
            width: 230px
            @include maxcom
                width: 100%
        p
            text-align: left
            @include ipad
                width: 180px
                margin: 0 0 0 40px
            @include maxcom
                width: 340px
                margin: -10px 0 0 40px
    .imgBk-03
        margin: 40px auto
        @include ipad
            margin: 0px auto
        @include maxcom
            margin: 40px 0
            display: flex
            align-items: center
            justify-content: center
        @include maxcom-1920
            margin: 60px 0
    .img03
        width: 310px
        margin: 0 auto 40px
        @include ipad
            width: 560px
        @include maxcom
            width: 560px
            margin: 0 
    .img03--con
        @include maxcom
            margin-left: 60px
            width: 560px
        @include maxcom-1920
            width: 640px
            margin-left: 90px
.pagExin03-sectionBk--03
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
    .logoBk
        margin: 30px 0 0 0
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        .logo
            width: 33.33%
            padding: 3px
            @include maxcom
                width: 25%
.pagExin03-sectionBk--04
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
    .imgBk-0102
        @include maxcom
            margin: 50px auto 70px auto
            width: 1200px
            display: flex
            justify-content: center
            align-items: center
    .img01
        width: 320px
        margin: 40px auto
        @include ipad
            width: 580px
        @include maxcom
            width: 710px
            margin: 0px 0 0 0
            position: relative
            z-index: 1
        p
            width: 280px
            margin: 0 20px
            @include ipad
                width: 440px
                margin: 0 0 0 80px
            @include maxcom
                width: 640px
                margin: 0 0 0 50px
    .img02
        width: 280px
        margin: 40px auto
        @include ipad
            width: 400px
        @include maxcom
            width: 485px
            margin: 0px 0px 0 -60px
            position: relative
            z-index: 2
        p
            width: 270px
            margin: 0 5px
            @include ipad
                width: 270px
                margin: 0 50px
            @include maxcom
                width: 270px
                margin: 0 0 0 110px
.pagExin03-sectionBk--05
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
    .img01
        width: 330px
        margin: 40px auto
        @include ipad
            width: 690px
        @include maxcom
            width: 980px
        p
            width: 280px
            margin: 0 25px
            @include ipad
                width: 620px
                margin: 0 35px
            @include maxcom
                width: 880px
                margin: 0 0 0 50px
.pagExin03-contentBk--bgYellow
    background: #FEFAE6
.pagExin03-sectionBk--06
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
.pagExin03-sectionBk--07
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
    .img01
        width: 330px
        margin: 40px auto
        @include ipad
            width: 670px
        @include maxcom
            // width: 1200px
            width: 100%
            display: flex
            align-items: center
            justify-content: start
        @include maxcom-1920
            width: 100%
        img
            width: 270px
            margin: 0 30px
            @include ipad
                width: 460px
                margin: 0 105px
            @include maxcom
                width: 460px
                margin: 0 
        p
            width: 100%
            @include ipad
            @include maxcom
                width: 100%
                margin: 0 0 0 80px
            @include maxcom-1920
                width: auto
                margin: 0 0 0 100px
    .img02
        width: 330px
        margin: 40px auto
        @include ipad
            width: 670px
        @include maxcom
            width: 100%
            display: flex
            align-items: center
            justify-content: start
            flex-direction: row-reverse
        @include maxcom-1920
            width: 100%
        img
            width: 220px
            margin: 0 55px
            @include ipad
                width: 320px
                margin: 0 175px
            @include maxcom
                margin: 0 0 0 0
        p
            width: 100%
            @include ipad
            @include maxcom
                width: auto
                margin: 0 80px 0 0
            @include maxcom-1920
                width: auto
                margin: 0 100px 0 0
.pagExin03-sectionBk--08
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    @include maxcom-1920
    .imgBk-0102
        @include maxcom
            margin: 50px auto 70px auto
            width: 1200px
            display: flex
            justify-content: center
            align-items: center
    .img01
        width: 310px
        margin: 40px auto
        @include ipad
            width: 465px
        @include maxcom
            width: 465px
            margin: 0px 35px 
            position: relative
            z-index: 1
        img
            width: 280px
            margin: 0 10px
            @include ipad
                width: 100%
                margin: 0 
        p
            // width: 280px
            // margin: 0 20px
            @include ipad
                width: 315px
                margin: 0 0 0 75px
            @include maxcom
                width: 370px
                margin: 0 0 0 50px
    .img02
        width: 330px
        margin: 40px auto
        @include ipad
            width: 590px
        @include maxcom
            width: 590px
            margin: 0px 35px 
            position: relative
            z-index: 2
        p
            width: 300px
            margin: 0 0 0 20px
            @include ipad
                width: 425px
                margin: 0 0 0 80px
            @include maxcom
                width: 430px
                margin: 0 0 0 80px






//編錯3編成4
//exhibitsin04.php
.pagExin04--bg
    width: 100%
    min-height: 8000px  
    overflow-x: hidden
    position: absolute
.pagExin04--bg01
    position: absolute
    width: 145px
    top: 3050px
    right: -40px
    @include ipad
        width: 215px
        top: 5000px
        right: 60px
    @include maxcom
        width: 260px
        top: 3300px
        right: 60px
    @include maxcom-1920
        width: 310px
        top: 2800px
        right: 160px
.pagExin04--bg02
    position: absolute
    width: 160px
    top: 5200px
    right: -70px
    @include ipad
        width: 330px
        top: 7100px
        right: -120px
    @include maxcom
        width: 390px
        top: 5500px
        right: -120px
    @include maxcom-1920
        width: 475px
        top: 5500px
        right: -80px
.pagExin04--bg03
    position: absolute
    display: none
    @include ipad
        display: block
        width: 270px
        top: 6650px
        right: 100px
    @include maxcom
        width: 330px
        top: 4720px
        right: 20px
    @include maxcom-1920
        width: 390px
        top: 4400px
        right: 120px
.pagExin04--bg04
    position: absolute
    width: 130px
    top: 6200px
    left: -40px
    @include maxcom
        width: 260px
        top: 6150px
        left: -100px
    @include maxcom-1920
        width: 310px
        top: 6300px
        left: 40px

.pagExin04
    p
        font-size: $text-15
        line-height: 1.7
    @include ipad
        p
            font-size: $text-17
    .em
        font-size: $text-16
        font-weight: 600
        line-height: 1.7
        @include ipad
            font-size: $text-26
        // @include maxcom
        //     font-size: $text-26
.pagExin04-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: #CCE9FA url(../images/psgEx4-01.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin04-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin04-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
            letter-spacing: -1px
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 160px 0 0 80px
        h1
            font:
                size: $text-50
.pagExin04-sectionTit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-35
        letter-spacing: -2px
.pagExin04-enBr
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
.pagExin04-contentBk
    background: #FFF
    padding: 0px 20px 
    line-height: 1
    overflow: hidden
    @include ipad
        padding: 20px 40px 
    @include maxcom
        padding: 20px 0 60px 0
    @include maxcom-1920
        padding: 20px 0 60px 0
.pagExin04-sectionBk
    position: relative
    z-index: 2
.pagExin04-sectionBk--01
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 80px auto
    .img01
        width: 310px
        margin: 0 auto
        display: block
        @include ipad
            display: none
    .img02
        width: 680px
        margin: 0 auto
        display: none
        @include ipad
            display: block
        @include maxcom
            display: none
    .img03
        width: 1180px
        margin: 0 auto
        display: none
        @include maxcom
            display: block
        @include maxcom-1920
            display: none
    .img04
        width: 100%
        margin: 0 auto
        display: none
        @include maxcom-1920
            display: block
.pagExin04-sectionBk--02
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 70px auto
.pagExin04-sectionBk--03
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        display: flex
        margin: 60px auto 0px auto
    // .label
    //     background: url(../images/psgEx4-11--02.svg) no-repeat
    //     background-size: 100%
    //     padding: 10px
    //     text-align: center
    //     line-height: 1.2
    //     letter-spacing: 0.5px
    //     font:
    //         size: $text-16
    //         weight: 600
    .tableBk01
        width: 310px
        margin: 0 auto 40px auto
        @include ipad
            width: 600px
            margin: 0 auto 60px auto
        @include maxcom
            width: 50%
            padding: 0 45px
        @include maxcom-1920
            padding: 0 60px
        p.table--right
            padding: 40px 0 0 0
            @include maxcom
                padding: 75px 0 0 0
    .label--sml
        width: 310px
        height: auto
        @include ipad
            display: none
    .label--big
        display: none
        width: 620px
        height: auto
        @include ipad
            display: block
        @include maxcom
            width: 100%
.pagExin04-sectionBk--04
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        display: flex
        align-items: center
        margin: 30px auto 70px auto
    .img01
        width: 310px
        margin: 0 auto
        @include ipad
            width: 490px
        @include maxcom
            width: 50%
            padding: 0 80px
        @include maxcom-1920
            padding: 0 100px
    p
        @include maxcom
            width: 50%
            padding: 0 40px
        @include maxcom-1920
            padding: 0 60px
    .label--sml
        width: 310px
        height: auto
        @include ipad
            display: none
    .label--big
        display: none
        width: 620px
        height: auto
        @include ipad
            display: block
        @include maxcom
            width: 100%
.pagExin04-sectionBk--05
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
    // .label
    //     background: url(../images/psgEx4-11--02.svg) no-repeat
    //     background-size: 100%
    //     padding: 10px
    //     text-align: center
    //     line-height: 1.2
    //     letter-spacing: 0.5px
    //     font:
    //         size: $text-16
    //         weight: 600
    //     @include maxcom
    //         width: 400px
    //         margin: 0 auto 0px auto 
    .label--sml
        width: 310px
        height: auto
        margin: 0 auto
        @include ipad
            display: none
    .label--big
        display: none
        width: 620px
        height: auto
        margin: 0 auto 40px auto
        @include ipad
            display: flex
        @include maxcom
    .tableBk01
        width: 310px
        margin: 0 auto
        @include ipad
            width: 490px
        @include maxcom
            width: 100%
            margin: 0 0 20px 0
            display: flex
            align-items: center
            justify-content: space-around
            img
                width: 700px
            p
                padding-right: 60px
        @include maxcom-1920
            img
                width: 800px
            p
                padding-right: 60px
.pagExin04-sectionBk--06
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        // display: flex
        // align-items: center
        margin: 60px auto 70px auto
    .imgBk
        @include maxcom
            display: flex
            align-items: center
            justify-content: space-around
    .img01
        width: 190px
        margin: 40px auto
        @include ipad
            width: 40%
        @include maxcom
            width: 440px
        @include maxcom-1920
            width: 470px
    .img02
        width: 300px
        margin: 40px auto
        @include ipad
            width: 660px
            margin: 60px auto 0 
        .img--sml
            @include ipad
                display: none
        .img--ipad
            display: none
            @include ipad
                display: block
                padding: 0 0 0 40px
            @include maxcom
                width: 700px
                padding: 0 0 0 40px
            @include maxcom-1920
                width: 780px
                padding: 0 0 0 120px
.pagExin04-sectionBk--07
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    .imgBk
        position: relative
        margin: 20px auto
        @include ipad
            width: 760px
            min-height: 500px
            margin: 40px auto
            // display: flex
            // align-items: center
            // justify-content: center
        @include maxcom
            margin: 60px auto
            width: 980px
            min-height: 690px
    .img01
        width: 260px
        margin: 0 auto
        @include ipad
            width: 410px
            position: absolute
            z-index: 1
            left: 20px
        @include maxcom
            width: 570px
        @include maxcom-1920
    .img02
        width: 180px
        margin: 0 auto
        margin-top: -40px
        @include ipad
            width: 290px
            margin-top: 0px
            position: absolute
            z-index: 2
            top: 150px
            right: 80px
        @include maxcom
            width: 400px
            top: 250px
            right: 40px
        @include maxcom-1920
.pagExin04-sectionBk--08
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    .imgBk
        @include maxcom
            display: flex
            align-items: center
            justify-content: center
            margin: 50px auto 50px auto
    .imgListBk
        width: 260px
        margin: 20px auto
        @include ipad
            width: 460px
            margin: 50px auto
        @include maxcom
            margin: 0 60px
        .list
            line-height: 2
            font:
                size: $text-15
                weight: 600 
            @include ipad
                font:
                    size: $text-26
                    weight: 600 
            &:before
                content: "　"
                background: url(../images/psgEx4-29.png) no-repeat
                background-size: 23px 19px
                width: 23px
                height: 19px
                display: inline-block
                margin-right: 6px
                vertical-align: -5px
                @include ipad
                    background-size: 48px 37px
                    width: 48px
                    height: 37px
    .img01
        width: 220px
        margin: 0 auto
        @include ipad
            width: 380px
        @include maxcom
            width: 390px
            margin: 0 60px
        @include maxcom-1920
.pagExin04-sectionBk--09
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 40px auto 70px auto
    .imgBk
        @include maxcom
            display: flex
            align-items: center
            justify-content: center
            margin: 50px auto 0px auto
    .img01
        width: 280px
        @include ipad
            width: 550px   
            margin: 30px auto
        @include maxcom
            width: 45%
            margin: 0 40px
        @include maxcom-1920
            margin: 0 70px
    .img02
        width: 330px
        @include ipad
            width: 600px
            margin: 30px auto
        @include maxcom
            width: 55%
            margin: 0 40px
        @include maxcom-1920
            margin: 0 70px
    .img03
        width: 100%
        margin: 0px auto 50px 
        @include maxcom
            width: 980px
.pagExin04-sectionBk--10
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
    // .label
    //     background: url(../images/psgEx4-11--02.svg) no-repeat
    //     background-size: 100%
    //     padding: 10px
    //     text-align: center
    //     line-height: 1.2
    //     letter-spacing: 0.5px
    //     font:
    //         size: $text-16
    //         weight: 600
    //     @include maxcom
    //         width: 400px
    //         margin: 0 auto 0px auto 
    .label--sml
        width: 310px
        height: auto
        margin: 0 auto
        @include ipad
            display: none
    .label--big
        display: none
        width: 620px
        height: auto
        margin: 0 auto 40px auto
        @include ipad
            display: flex
        @include maxcom
    .img01
        width: 180px
        margin: 40px auto 40px auto
        @include ipad
            display: none
        img
            width: 100%
            margin: 0 0 20px 0
    .img02
        display: none
        @include ipad
            display: block
            width: 670px
            margin: 40px auto 40px auto
        @include maxcom
            width: 1070px
            margin: 60px auto 60px auto
.pagExin04-sectionBk--11
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
    .img01
        width: 280px
        margin: 40px auto 40px auto
        @include ipad
            width: 680px
        @include maxcom
            width: 100%
            margin: 40px auto 0px auto
            overflow: hidden
            display: flex
            align-items: center
        img
            width: 240px
            margin: 0 20px 
            @include ipad
                width: 600px
                margin: 0 40px 
            @include maxcom
                width: 530px
                margin: 0 60px
        p
            @include maxcom
    .img02
        width: 280px
        margin: 40px auto 40px auto
        @include ipad
            width: 680px
        @include maxcom
            width: 100%
            margin: 20px auto 0px auto
            overflow: hidden
            display: flex
            align-items: center
            flex-direction: row-reverse
        img
            width: 240px
            margin: 0 20px 
            @include ipad
                width: 580px
                margin: 0 50px 
            @include maxcom
                width: 530px
                margin: 0 80px
    .img03
        width: 320px
        margin: 40px auto 40px auto
        text-align: center
        @include ipad
            width: 680px
        @include maxcom
            width: 1200px
            min-height: 600px
            position: relative
            margin: 60px auto 80px auto
        @include maxcom-1920
            width: 100%
            min-height: 620px
        .img--sml
            width: 170px
            margin: 0px auto -25px auto
            position: relative
            z-index: 2
            @include ipad
                width: 380px
                margin: 0px auto -40px auto
            @include maxcom
                position: absolute
                z-index: 2
                top: 0px
                right: 120px
            @include maxcom-1920
                width: 415px
                right: 160px
        .img--big
            width: 320px
            @include ipad
                width: 680px
            @include maxcom
                position: absolute
                z-index: 1
                top: 40px
                left: 80px
            @include maxcom-1920
                width: 790px
        p
            text-align: left
            @include maxcom
                width: 400px
                position: absolute
                z-index: 1
                top: 300px
                right: 0px
            @include maxcom-1920
                width: 480px
                top: 360px
.pagExin04-contentBk--bgYellow
    background: #FAF2E7

.pagExin04-sectionBk--12
    width: 100%
    padding: 40px 0 0px 0
    @include ipad
    @include maxcom
        padding: 60px 0 0px 0
    .img01
        width: 310px
        margin: 40px auto
        @include ipad
            width: 670px
        @include maxcom
            width: 830px
 



//exhibitsin05.php
.pagExin05
    p
        font-size: $text-15
        line-height: 1.7
    @include ipad
        p
            font-size: $text-17
    .em
        font-size: $text-15
        font-weight: 600
        line-height: 1.7
        @include ipad
            font-size: $text-20
        @include maxcom
            font-size: $text-26
.pagExin05-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: #CCE9FA url(../images/pagEx05-01.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin05-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin05-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 200px 0 0 80px
        h1
            font:
                size: $text-50
.pagExin05-sectionTit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-35
        letter-spacing: -2px
.pagExin05-enBr
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
.pagExin05-contentBk
    background: #FFF
    padding: 0px 20px 
    line-height: 1
    overflow: hidden
    @include ipad
        padding: 20px 40px 
    @include maxcom
        padding: 20px 0 60px 0
    @include maxcom-1920
        padding: 20px 0 60px 0
.pagExin05-sectionBk
    position: relative
    z-index: 2
.pagExin05-sectionBk--01
    width: 100%
    margin: 50px auto
    @include ipad
        // width: 590px 
    @include maxcom
        // width: auto
        // display: flex
        // justify-items: center
        // flex-wrap: wrap
        // div
        //     width: 590px
        //     padding: 0 25px
.pagExin05-sectionBk--02
    width: 100%
    margin: 50px auto
    @include ipad
    @include maxcom
    @include maxcom-1920
.pagExin05-sectionBk--03
    width: 100%
    margin: 50px auto
    .img01
        width: 270px
        margin: 30px auto
    .img02
        display: none
    @include ipad
        .img01
            width: 490px
            margin: 50px auto
    @include maxcom
        .img01
            display: none
        .img02
            display: block
            width: 1000px
            margin: 40px auto
    @include maxcom-1920
.pagExin05-sectionBk--04
    width: 100%
    margin: 50px auto
    div
        position: relative
        z-index: 2
    .bg
        display: block
        position: absolute
        z-index: 1
        height: auto
        width: 145px
        top: 1100px
        right: -50px
    .img01
        width: 300px
        margin: 40px auto
    .img02
        width: 310px
        margin: 40px auto
    .img03
        width: 310px
        margin: 40px auto
    .img04
        width: 310px
        margin: 40px auto
    @include ipad
        .img01
            width: 540px
            margin: 50px auto
        .img02
            width: 430px
            margin: 50px auto
        .img03
            width: 530px
            margin: 50px auto
        .img04
            width: 490px
            margin: 50px auto
        .bg
            width: 215px
            top: 2400px
            right: 0px
    @include maxcom
        .column01
            display: flex
            flex-wrap: nowrap
            flex-direction: row-reverse
            align-items: center
            margin: 70px 0
            .img01
                width: 40%
                margin: 0
            p
                width: 60%
                padding-left: 70px
        .column02
            display: flex
            flex-wrap: nowrap
            flex-direction: row
            align-items: center
            margin: 70px 0
            .img02
                width: 34%
                margin: 0
            p
                width: 66%
                padding-right: 30px
        .column03
            display: flex
            flex-wrap: nowrap
            flex-direction: row-reverse
            align-items: center
            margin: 70px 0
            .img01
                width: 40%
                margin: 0
            p
                width: 60%
                padding-left: 70px
        .column04
            display: flex
            flex-wrap: nowrap
            flex-direction: row
            align-items: center
            margin: 70px 0
            .img04
                width: 34%
                margin: 0
            p
                width: 66%
                padding-right: 30px
        .bg
            width: 260px
            top: 1500px
            right: -200px
    @include maxcom-1920
.pagExin05-sectionBk--05
    width: 100%
    margin: 50px auto
    .bg01
        display: none
    .bg02
        display: none
    .bg03
        display: none
    div,p
        position: relative
        z-index: 2
    .img01
        width: 310px
        margin: 40px auto
    .igImgBk
        width: 200px
        margin: 40px auto
        img
            box-shadow: 0px 5px 10px rgba(0,0,0,0.24)
    .img02
        width: 310px
        margin: 40px auto
    .videoListBk
        width: 300px
        margin: 40px auto
        @include ipad
            width: 100%
            margin: 40px auto 50px auto
        @include maxcom
            width: 1200px
        @include maxcom-1920
            // width: 100%
            margin: 60px auto 70px auto
        .videoBk
            width: 100%
            overflow: hidden
            @include maxcom
                width: 50%
                padding: 20px
                float: left
        // .cover
        //     width: 100%
        //     position: relative
        //     cursor: pointer
        //     &:hover
        //         .videoBt
        //             transform: scale(1.05)
        // .videoBt
        //     display: block
        //     width: 62px
        //     height: 62px
        //     position: absolute
        //     top: calc(50% - 31px)
        //     left: calc(50% - 31px)
        //     transition: all 0.5s linear
    @include ipad
        .bg01
            display: block
            position: absolute
            z-index: 1
            height: auto
            width: 270px
            top: 1100px
            right: -100px
        .bg02
            display: block
            position: absolute
            z-index: 1
            height: auto
            width: 330px
            top: 1800px
            right: -150px
        .img01
            width: 690px
            margin: 40px auto 60px auto
        .igImgBk
            width: 100%
            margin: 40px auto 60px auto
            img
                width: 30%
                margin: 0px 5px
        .img02
            width: 560px
            margin: 40px auto 60px auto
    @include maxcom
        margin: 70px auto
        .bg01
            width: 325px
            top: 1500px
            right: -100px
        .bg02
            width: 395px
            top: 2050px
            right: -280px
        .bg03
            display: block
            position: absolute
            z-index: 1
            height: auto
            width: 260px
            top: 3000px
            left: -150px
        .img01
            width: 1020px
            margin: 60px auto 70px auto
        .igImgBk
            width: 1170px
            margin: 60px auto 70px auto
        .img02
            width: 560px
            margin: 60px auto 70px auto
    @include maxcom-1920
        .bg03
            width: 310px
            top: 3000px
            left: -300px
.pagExin05-videoPopBg
    opacity: 0
    width: 100%
    height: 100vh
    background: rgba(0,0,0,0.74)
    position: fixed
    z-index: -1
    inset: 0
    cursor: pointer
    // .videoPositionBk
    //     width: 100%
    //     height: auto
    //     position: absolute
    //     z-index: 11
    //     margin: auto
    //     top: 0
    //     bottom: 0
    //     left: 0
    //     right: 0
    .videoPositionBk
        width: 100%
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        position: relative
        @include ipad
            width: 80%
            margin-left: 10%
        .videoPopCloseBt
            display: none
            cursor: pointer
            position: absolute
            width: 20px
            height: 20px
            top: 200px
            right: -30px
            @include ipad
                display: block
.pagExin05-contentBk--bgBlue
    background: #F0F7FF
.pagExin05-sectionBk--06
    padding: 20px 0
    @include ipad
        padding: 40px 0 
.pagExin05-sectionBk--07
    margin: 40px auto
    position: relative
    z-index: 2
    .bg01
        position: absolute
        height: auto
        width: 160px
        top: -100px
        right: -80px
        @include ipad
            display: none
    .bg02
        position: absolute
        height: auto
        width: 131px
        top: 760px
        left: -80px
        @include ipad
            display: none
    div
        width: 310px
        margin: 0 auto
        position: relative
        z-index: 2
        @include ipad
            width: 520px
            margin: 20px auto
        @include maxcom
            width: 1120px
            display: flex
            align-items: center
            margin: 40px auto
            img
                width: 40%
            p
                width: 60%
                padding-left: 40px
        


//exhibitsin06.php
.pagExin06
    p
        font-size: $text-15
        line-height: 1.7
    @include ipad
        p
            font-size: $text-17
    .em
        font-size: $text-15
        font-weight: 600
        line-height: 1.7
        @include ipad
            font-size: $text-20
        @include maxcom
            font-size: $text-26
.pagExin06-bannerBk
    width: 100%
    min-height: 534px
    line-height: 0
    position: relative
    background: #CCE9FA url(../images/pagEx06-01.png) no-repeat
    background-size: 100% auto
    background-position: center center
    margin: 50px 0 0 0
    @include ipad
        min-height: 980px
        margin: 70px 0 0 0
    @include maxcom
        padding-top: 40px 
        background: none
        min-height: auto
.pagExin06-banner
    display: none
    width: 100%
    position: relative
    z-index: 1
    @include maxcom
        display: block
.pagExin06-pageTitBk
    padding: 40px 0 0 25px
    h1
        font:
            size: $text-24
    @include ipad
        padding: 80px 0 0 80px
        h1
            font:
                size: $text-30
            letter-spacing: -1px
    @include maxcom
        padding: 100px 0 0 40px
        position: absolute
        z-index: 2 
        h1
            font:
                size: $text-40
    @include maxcom-1920
        padding: 200px 0 0 80px
        h1
            font:
                size: $text-50
.pagExin06-sectionTit
    font:
        size: $text-24
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
    @include maxcom
        font:
            size: $text-35
        letter-spacing: -2px
.pagExin06-enBr
    span
        display: block
        letter-spacing: 0px
        @include maxcom
            display: inline
.pagExin06-contentBk
    background: #FFF
    padding: 0px 20px 
    line-height: 1
    overflow: hidden
    @include ipad
        padding: 20px 40px 
    @include maxcom
        padding: 20px 0 60px 0
    @include maxcom-1920
        padding: 20px 0 60px 0
.pagExin06-sectionBk
    position: relative
    z-index: 2
.pagExin06-sectionBk--01
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 70px auto
.pagExin06-sectionBk--02
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 70px auto
    h4
        font-size: $text-16
        @include ipad
            font-size: $text-20
        @include maxcom
            font-size: $text-23
        @include maxcom-1920
            font-size: $text-26
    h5
        font:
            size: $text-15
            family: 'Caveat', cursive
        @include ipad
            font-size: $text-17
        @include maxcom-1920
            font-size: $text-20
    .img01
        width: 310px
        margin: 40px auto
        img
            width: 240px
            margin: 0 35px
        @include ipad
            width: 540px
            img
                width: 100%
                margin: 0
            p
                width: 360px
                margin: 0 auto
        @include maxcom
            width: 50%
            padding: 0 35px
            float: left
            margin: 50px auto
    .img02
        width: 300px
        margin: 40px auto
        @include ipad
            width: 680px
        @include maxcom
            width: 1000px
.pagExin06-sectionBk--03
    width: 100%
    margin: 40px auto 50px auto
    @include ipad
    @include maxcom
        margin: 60px auto 70px auto
    div
        position: relative
        z-index: 2
    .bg
        position: absolute
        display: none
        @include ipad
            display: block
            height: auto
            position: absolute
            z-index: 1
            width: 215px
            top: 880px
            right: -30px
        @include maxcom
            width: 260px
            top: 480px
            right: -60px
        @include maxcom-1920
            width: 310px
            top: -200px
            right: -160px
    .logoBk
        // display: flex
        // flex-wrap: wrap
        margin: 20px auto
        overflow: hidden
        @include maxcom
            margin: 30px auto 40px auto
        img
            width: calc(50% - 10px)
            height: auto
            margin: 0 5px 6px 5px
            float: left
            @include ipad
                width: calc(33% - 10px)
            @include maxcom
                width: calc(25% - 10px)
    .img0102Bk
        @include maxcom
            width: 1200px
            min-height: 600px
            position: relative
            margin: 40px auto 100px auto
        @include maxcom-1920
            width: 1280px
    .img01
        width: 320px
        margin: 40px auto 0 auto
        @include ipad
            width: 700px
        @include maxcom
            width: 750px
            position: absolute
            z-index: 1
            top: 0px
            left: 0px
        @include maxcom-1920
            width: 815px
        p
            width: 280px
            margin: 0 auto
            @include ipad
                width: 640px
    .img02
        width: 280px
        margin: 40px auto 0 auto
        text-align: center
        @include ipad
            width: 450px
        @include maxcom
            // width: 720px
            width: 510px
            position: absolute
            z-index: 1
            top: 100px
            right: 0px
        @include maxcom-1920
            width: 540px
            top: 110px
            right: 10px
        img
            width: 240px
            margin: 0 auto
            @include ipad
                width: 100%
        p
            text-align: left
            width: 280px
            margin: 0 auto
            @include ipad
                width: 420px
.pagExin06-contentBk--bgPink
    background: #FDF3F5
.pagExin06-sectionBk--04
    padding: 40px 0
    @include ipad
        padding: 40px 0 
    div
        position: relative
        z-index: 2
    .img01
        width: 280px
        margin: 20px auto 40px auto
        text-align: center
        @include ipad
            width: 100%
            text-align: left
        @include maxcom
            display: flex
            flex-wrap: nowrap
            align-items: center
        img
            width: 260px
            @include ipad
                width: 460px
            @include maxcom
                width: 37%
        p
            width: 100%
            text-align: left
            letter-spacing: -0.3px
            @include maxcom
                width: 63%
                padding-left: 70px
    .bg01
        position: absolute
        height: auto
        width: 160px
        top: 700px
        right: -50px
        @include ipad
            width: 320px
            top: 900px
            right: -150px
        @include maxcom
            width: 390px
            top: 1300px
            right: -200px
        @include maxcom-1920
            width: 470px
            top: 1200px
            right: -450px
    .bg02
        position: absolute
        height: auto
        width: 130px
        top: 1700px
        left: -50px
        @include ipad
            display: none
    .bg03
        display: none
        @include ipad
            display: block
            position: absolute
            height: auto
            width: 270px
            top: 400px
            right: -20px
        @include maxcom
            width: 325px
            top: 800px
            right: -20px
        @include maxcom-1920
            width: 325px
            top: 200px
            right: 20px


/*開幕茶會*/
.pagOpHeader
    background: $vice-color
    display: none
    @include maxcom
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 110px
h5.pagOpSection-TextArea-tit
    font:
        size: $text-24
    @include maxcom
        font:
            size: $text-36
        letter-spacing: 0px
p.pagOpSection-TextArea-text
    font:
        size: $text-15
    line-height: 1.6
    @include maxcom
        font:
            size: $text-20
.pagOpSection01
    width: 100%
    background: #FFF
    padding: 110px 0 0 0
    overflow: hidden
    @include maxcom
        padding: 190px 0 0 0
.pagOpSection01-img
    width: 100%
    height: auto
    @include maxcom
        width: 55%
        float: right
.pagOpSection01-chTextArea
    @include maxcom
        width: 45%
        padding: 0 20px 0 0
        float: left
.pagOpSection01-enTextArea
    @include maxcom
        padding: 30px 0 60px 0

//底圖
.pagOpEleBk
    width: 100%
    min-height: 220px
    background: #FFF url("../images/pagOpele03.png") no-repeat
    background-position-x: 50%
    background-position-y: bottom 
    background-size: auto 180px
    position: relative
    z-index: 2
    top: -10px
    // overflow: hidden
    @include maxcom
        min-height: 500px
        background-size: auto 450px
        background-position-x: 20% 
        margin-top: -80px
        // background-position-y: 350%
    // @include maxcom-1920
    //     min-height: 500px
    //     background-size: auto 500px
    //     background-position-y: 240px
    //     background-position-x: center 

.pagOpEle-01
    position: absolute
    width: 85px
    height: auto
    bottom: 60px
    left: 80px
    @include maxcom
        width: 180px
        left: 220px
        bottom: 200px
    @include maxcom-1920
        left: 260px
        bottom: 180px
.pagOpEle-02
    position: absolute
    height: auto
    width: 50px
    top: 10px
    right: 60px
    @include maxcom
        width: 110px
        top: 20px
        right: 200px
    @include maxcom-1920
        right: 350px
        top: -40px
    
        
.pagOpSection02
    width: 100%
    background: $main-color
    padding: 10px 0 0 0
    position: relative
    z-index: 2
    top: -20px
    // overflow: hidden
    @include maxcom
        top: -100px
    //     padding: 190px 0 0 0
.pagOpSection02-ahref
    position: absolute
    z-index: -1
    width: 50px
    height: 50px
    top: -30px
    display: block
    // background: red
    @include ipad
        top: -60px
    @include maxcom
        top: -110px
    // opacity: 0
.pagOpSection02-img--sml
    width: 100%
    height: auto
    @include maxcom
        display: none
.pagOpSection02-img--big
    display: none
    width: 100%
    height: auto
    @include maxcom
        display: block
    //     width: 55%
    //     float: right
.pagOpSection02-chTextArea
    // @include maxcom
    //     width: 45%
    //     padding: 0 20px 0 0
    //     float: left
.pagOpSection02-enTextArea
    // @include maxcom
    //     padding: 30px 0 60px 0


//wish.php
//各方祝福
.pagWishTitBk
    width: 100%
    padding: 85px 20px 20px 20px
    text-align: center
    @include ipad
        padding: 140px 20px 50px 20px
    @include maxcom
        padding: 220px 20px 30px 20px
    @include maxcom-1920
    h1
        font:
            size: $text-24
        letter-spacing: 0px
        @include ipad
            font:
                size: $text-40
            letter-spacing: 0px
        @include computer
        @include maxcom
        @include maxcom-1920
.pagWishVideoMainBK
    width: 100%
    margin: 0 auto
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,.24)
    @include ipad
        width: 90%
    @include maxcom
        width: 960px
    @include maxcom-1920
        width: 1180px
.pagWishVideoMain
    width: 100%
    // box-shadow: 0px 5px 20px 0px rgba(0,0,0,.24)
    @include ipad
        // width: 730px
    @include maxcom
        // width: 960px
    @include maxcom-1920
        // width: 1200px


.pagWishBg
    width: 100%
    height: 100vh
    background: #6AB3BF url(../images/wish05.svg) no-repeat
    background-position: bottom
    background-size: 100%
    overflow-x: hidden
    @include ipad
    @include maxcom
        height: 1300px
    @include maxcom-1920
        height: 1550px
.pagWishMainDecBk
    width: 100%
    min-height: 340px
    position: relative
.pagWishMainDec-Cloud
    width: 100%
    min-height: 340px
    background: url(../images/wish04.svg) no-repeat
    background-position: bottom
    background-position-x: 45%
    background-size: 1514px auto
    position: relative
    z-index: 2
    @include ipad
        min-height: 600px
        background-position-x: 25%
        background-size: 2240px auto
    @include maxcom
        min-height: 700px
        background-position: bottom
        background-position-x: 25%
        background-size: 2560px auto
    @include maxcom-1920
        min-height: 800px
        background-position: bottom
        background-position-x: 25%
        background-size: 3028px auto
.pagWishMainDec-Img01
    position: absolute
    z-index: 1
    width: 260px
    bottom: 100px
    margin-left: calc(50% - 130px)
    @include ipad
        width: 540px
        bottom: 100px
        margin-left: calc(50% - 270px)
    @include maxcom
        width: 620px
        bottom: 150px
        margin-left: calc(50% - 310px)
    @include maxcom-1920
        width: 730px
        bottom: 150px
        margin-left: calc(50% - 365px)
.pagWishMainDec-Img02
    position: absolute
    z-index: 2
    width: 70px
    bottom: 100px
    left: 20px
    @include ipad
        width: 140px
        bottom: 120px
        left: 30px
    @include maxcom
        width: 160px
        bottom: 190px
        left: 50px
    @include maxcom-1920
        width: 189px
        bottom: 190px
        left: 200px
.pagWishMainDec-Img03
    position: absolute
    z-index: 2
    width: 45px
    top: 110px
    right: 30px
    @include ipad
        width: 80px
        top: 230px
        right: 50px
    @include maxcom
        width: 95px
        top: 230px
        right: 150px
    @include maxcom-1920
        width: 112px
        top: 230px
        right: 380px
.pagWishMainDec-Img04
    position: absolute
    z-index: 2
    display: none
    // opacity: 0
    @include ipad
    @include maxcom
        display: block
        width: 520px
        top: 80px
        right: -220px
    @include maxcom-1920
        width: 610px
        top: 200px
        right: -200px
.pagWishMainDec-Img05
    position: absolute
    z-index: 2
    display: none
    @include ipad
    @include maxcom
    @include maxcom-1920
        display: block
        width: 590px
        top: 340px
        left: -160px
.pagWish--bgYellow
    background: #FFF6BA
.pagWishVideoListBk
    width: 100%
    background: #FFF6BA
    margin: -20px auto 0 auto
    position: relative
    z-index: 2
    padding: 0px 20px 40px 
    @include ipad
        margin: -60px auto 0 auto
    @include maxcom
        margin: -100px auto 0 auto
.pagWishVideoList
    width: 100%
    display: flex
    flex-wrap: wrap
.pagWishVideoLinkBk
    width: 100%
    margin-bottom: 12px
    @include ipad
        width: 50%
        padding: 0 7px
    @include maxcom
        width: 33.33%
        padding: 0 8px
        margin-bottom: 15px
.pagWishVideoLink
    display: block
    position: relative
    overflow: hidden
    line-height: 0
    &:hover
        .pagWishVideoLink-cover
            transform: scale(1.05)
.pagWishVideoLink-cover
    width: 100%
    transition: all 0.5s ease-in-out
.pagWishVideoLink-layer
    width: 100%
    height: calc(100% - 20px)
    position: absolute
    z-index: 2
    bottom: 0
    background: rgba(0,0,0,0.54)
    display: flex
    justify-content: center
    align-items: center
    text-align: center
.pagWishVideoLink-layer--tit
    color: #fff
    font:
        size: $text-16
        weight: 600
    letter-spacing: 0.2px
    line-height: 1.8
    @include ipad
    @include maxcom
        font:
            size: $text-18
    @include maxcom-1920
        font:
            size: $text-20

    