//網站框架

.patLoadingBg
	width: 100%
	height: 100vh
	overflow: hidden
	z-index: 10
	position: fixed
	top: 0px
	background: $main-color
	text-align: center
	display: flex
	align-content: center
	align-items: center
	flex-wrap: wrap
	justify-content: center
.patLoadingBg-logo
	width: 240px
	margin: 0 0 20px 0
	@include maxcom
		width: 400px
.patLoadingBg-aniBk
	width: 100%
	// height: 22px
	text-align: center
	padding: 0 12px 0 0
.patLoadingBg-aniBk--dot
	width: 25px
	height: 25px
	background: #FFF
	margin: 0 5px
	border-radius: 50%
	display: inline-block
	opacity: 1
	transform: scale(0)
.patLoadingBg-aniBk--dot--none
	opacity: 0
	transform: scale(1)








//手機板導覽列
//手機視口header
.patSmlHeader
	width: 100%
	height: 50px
	position: fixed
	top: 0
	left: 0
	z-index: 4
	background: $vice-color
	@include ipad
		height: 75px
	@include maxcom
		display: none
.patSmlHeader-logo
	display: inline-block
	margin: 10px auto 0 20px
	img
		width: 160px
	@include ipad
		margin: 24px auto 0 20px
		img
			width: 200px
.patSmlHeader-navbt
	width: 30px
	height: 30px
	margin: 15px 20px 0 0
	cursor: pointer
	float: right
	position: relative
	@include ipad
		margin: 27px 20px 0 0
.patSmlHeader-navbt--icon
	width: 30px
	height: 3px
	position: absolute
	background: $black
	transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon01
	top: 5px
	transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon02
	top: 14px
	transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon01--rotate
	transform: rotate(-25deg)
	top: 10px
	// transition: all 0.5s ease-in-out
.patSmlHeader-navbt--icon02--rotate
	transform: rotate(25deg)
	top: 10px
	// transition: all 0.5s ease-in-out
	


//手機視口navgation
.patSmlNav
	display: none
	width: 100%
	height: 100%
	position: fixed
	top: 50px
	z-index: 4
	overflow-y: scroll
	background: $vice-color
	padding: 30px 0 
.patSmlNav-closeBt
	width: 30px 
	height: 30px
	position: absolute
	right: 20px
	top: 20px
	cursor: pointer

	
// /*全域導覽列連結--兩層式結構*/
.patLevelArea
	width: 100%
.patLevelArea-firstLink
	width: 100%
	display: block
	height: auto
	// line-height: 46px
	font:
		weight: 500
		size: $text-16
	transition: all 0.1s ease-out
	letter-spacing: 1px
	position: relative
	text-align: center
	color: $black
	margin-bottom: 20px
	@include ipad
		font:
			size: $text-24
		margin-bottom: 30px
.patLevelArea-secondLinkArea
	display: none
	padding: 20px 0 0 20px
	background: rgba(255,248,202,1)
	margin-bottom: 20px
	@include ipad
		margin-bottom: 30px
		padding: 25px 0 0 20px
	.patLevelArea-secondLinkArea--link
		display: block
		font:
			weight: 500
			size: $text-16
		line-height: 1.6
		letter-spacing: 1px
		text-align: center
		cursor: pointer
		color: $black
		padding-bottom: 20px
		@include ipad
			font:
				size: $text-24
			padding-bottom: 30px

			
		



//header
//電腦版header
.patheaderBk
	position: fixed
	width: 100%
	height: 110px
	z-index: 4
	padding: 0 60px
	flex-wrap: nowrap
	align-items: center
	display: none
	top: 0
	// transition: all 0.5s ease-in-out
	// @include ipad
	// 	top: 40px
	@include maxcom
		display: flex
.patheaderBk-logo
	width: 303px
	display: block
	&:hover
		img
			opacity: 0.5
.patheaderBk-linkBk
	width: calc(100% - 303px )
	display: flex
	justify-content: flex-end
.patheaderBk-linkBk--link
	position: relative
	display: block
	color: #FFF
	font:
		size: $text-22
	@include maxcom-1920
		font:
			size: $text-26
	.ch
		display: block
		line-height: 1.4
	.en
		display: none
		line-height: 1.4
	&:hover
		color: #FFF
		.ch
			display: none
		.en
			display: block

//scroll特效
.patheaderBk--scrollStyle
	background: rgba(239,213,39,1)
	transition: all 0.7s ease-in-out
	.dropdown
		.dropdown-tit
			color: $black
		.dropdown__content_link
			color: #FFF
	.patheaderBk-linkBk--link
		color: $black


.dropdown 
	position: relative
/* Hide the dropdown's content by default */
.dropdown__content 
	display: none
	left: -45px	
	position: absolute
	top: 100%
	background-color: rgba(0,0,0,0.7)
	z-index: 9999
	width: 180px
	height: auto
.dropdown__content_link
	width: 140px
	text-align: center
	font:
		size: $text-26
	color: #FFF
	display: block
	.ch-content
		display: block
		line-height: 1.4
	.en-content
		display: none
		line-height: 1.4
	&:hover
		.ch-content
			display: none
		.en-content
			display: block
/* Show the content when hover on the container */
.dropdown:hover .dropdown__content 
	display: block

.dropdown-tit
	font:
		size: $text-22
	@include maxcom-1920
		font:
			size: $text-26
	color: #FFF




// .patheaderBt
// 	padding-top: 15px
// 	margin-left: 30px
// 	cursor: pointer
// 	border: 0
// 	background: none
// 	padding: 0
// 	float: left
// 	position: absolute
// 	transition: all 0.2s linear
// 	@include ipad
// 		padding-top: 25px
// 		margin-left: 50px
// 	@include maxcom-1920
// 		margin-left: 140px
// 	&:hover
// 		opacity: 0.4
// 		// filter: drop-shadow(1px 1px 1px $text-gray)
// 	.patheaderBt-icon
// 		width: 30px
// 		height: auto
// 		@include ipad
// 			width: 48px
// 		// @include maxcom
// 		// 	margin: 40px 0 0 20px
// 		// 	width: 70px 
// 		// 	height: 70px
// 		// @include maxcom-1920
// 		// 	width: 85px 
// 		// 	height: 85px
// 		// 	margin: 35px 0 0 0px

// .patheaderLink
// 	display: none
// 	@include maxcom
// 		display: block
// 		width: auto
// 		position: relative
// 		left: 150px
// 		top: 40px
// 		// float: left
// 	@include maxcom-1920
// 		left: 260px
// 	.patheaderLink-link
// 		@include maxcom
// 		display: inline-block
// 		@include typoBasic-notoSans
// 		font:
// 			size: $text-16
// 			weight: 500
// 		letter-spacing: 1px
// 		margin-right: 30px
// 		@include maxcom-1920
// 			margin-right: 55px
// 			font:
// 				size: $text-17


// .patnavBk
// 	width: 100%
// 	height: 100%
// 	overflow: hidden
// 	// background-image: linear-gradient(90deg, rgba(213,213,213,1), 1px, transparent 0) 
// 	// background-size: 480px 1px
// 	position: fixed
// 	top: 0
// 	left: 0
// 	z-index: -2

// .patnavBg
// 	position: absolute
// 	// z-index: 1
// 	width: 100%
// 	opacity: 0
// 	height: 100%
// 	background: $main-color-50
// 	// border-right: 1px solid rgba(230,230,230,1)
// 	left: 0%
// 	// @for $i from 1 through 3
// 	// 	&:nth-of-type(#{$i})
// 	// 		left: 25% * $i
// 	// &:nth-child(1)
// 	// 	left: 0%
// 	// &:nth-child(2)
// 	// 	left: 50% 
// 	// &:nth-child(3)
// 	// 	left: 50%
// 	// &:nth-child(4)
// 	// 	left: 75%
  

// .patnav
// 	width: 100%
// 	height: 100%
// 	position: fixed
// 	opacity: 0
// 	overflow: hidden
// 	overflow-y: auto
// .patnav-head
// 	width: 100%
// 	overflow: hidden
// 	.patnav-head--logoImg
// 		width: 48px 
// 		height: 48px
// 		float: left
// 		margin: 25px 0 0 20px
// 		@include maxcom
// 			margin: 50px 0 0 20px
// 			width: 64px 
// 			height: 64px
// 	.patnav-head--logoName
// 		float: left
// 		color: $black
// 		font:
// 			size: $text-16
// 			weight: 700
// 		padding: 0 0 0 20px
// 		line-height: 98px
// 		letter-spacing: 0.5px
// 		@include maxcom
// 			font:
// 				size: $text-19
// 			margin-top: 36px
// 			padding: 0 0 0 30px
// 	.patnav-head--navCloseBt
// 		float: left
// 		margin: 40px 0 0 30px
// 		cursor: pointer
// 		border: 0
// 		background: none
// 		padding: 0
// 		@include maxcom
// 			margin-top: 60px
// 		.patnav-head--navCloseBt--icon
// 			width: 36px
// 			height: 36px
// 			@include maxcom
// 				width: 48px 
// 				height: 48px
			
// .patnavSection
// 	width: 100%
// 	@include ipad
// 		// width: 50%
// 	@include computer
// 		width: 25%
// 		float: left
// 		padding: 0 0 0 20px
// 	@include maxcom
// 		padding: 0 0 0 90px

// .patnavFirstArea
// 	margin: 35px 0 0 20px
// 	.patnavFirstArea-tit
// 		display: block
// 		letter-spacing: 0px
// 		@include typoBasic-notoSans
// 		color: $main-color
// 		font:
// 			size: $text-17
// 			weight: 500
// 		letter-spacing: 0.5px
// 		.patnavFirstArea-tit--icon
// 			width: 40px
// 			height: 40px
// 			margin-right: 10px
// 			vertical-align: -12px
// 	.patnavSecondArea
// 		// margin-left: 45px 
// 		margin-top: 20px
// 		display: none
// 		overflow: hidden
// 		@include ipad
// 			display: block
// 	.patnavSecondArea-li
// 		list-style: none
// 	.patnavSecondArea-link
// 		@include typoBasic-notoSans
// 		line-height: 42px
// 		font:
// 			size: $text-16-5
// 			weight: 400
// 		letter-spacing: 1px
// 		// padding: 5px 
// 		// &:hover
// 		// 	color: $main-color
// 		// 	background: $text-gray-100
// 	.patnavSecondArea-link--actice
// 		color: $main-color
// 		background: $text-gray-100
// .patnavFirstArea--noIcon
// 	margin-left: 30px 
// 	@include ipad
// 		margin: 50px 0 0 40px
// 	@include computer
// 		margin-top: 80px
// 	.patnavSecondArea--noIcon
// 		// margin-left: -5px 
// .patnavFirstArea--embt
// 	box-shadow: inset 0 -0.03em $black	




//內頁結構框架

